@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth!important;

}

:root {
    background-color: #d2f8d2;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-image: url("/public/cool-background.svg"); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
  }
}

body {
 
}
